In [1]:
import numpy as np
import pandas as pd

**Predicting Meteor Showers using PYTHON**

In [2]:
meteor_showers = pd.read_csv('meteorshowers.csv')
moon_phases = pd.read_csv('moonphases.csv')
constellations = pd.read_csv('constellations.csv')
cities = pd.read_csv('cities.csv')

In [3]:
cities.head(10)

               city  latitude               country
0         Abu Dhabi     24.47  United Arab Emirates
1             Abuja      9.07               Nigeria
2             Accra      5.55                 Ghana
3         Adamstown    -25.07      Pitcairn Islands
4       Addis Ababa      9.02              Ethiopia
5           Algiers     36.77               Algeria
6             Alofi    -19.07                  Niue
7             Amman     31.93                Jordan
8         Amsterdam     52.37           Netherlands
9  Andorra la Vella     42.50               Andorra

In [4]:
months = {'january':1,'february':2,'march':3,'april':4,'may':5,'june':6,'july':7,'august':8,
          'september':9,'october':10,'november':11,'december':12}

In [5]:
months

{'january': 1,
 'february': 2,
 'march': 3,
 'april': 4,
 'may': 5,
 'june': 6,
 'july': 7,
 'august': 8,
 'september': 9,
 'october': 10,
 'november': 11,
 'december': 12}

In [6]:
meteor_showers.bestmonth = meteor_showers.bestmonth.map(months)

In [31]:
meteor_showers.head()

           name   radiant  bestmonth preferredhemisphere  startdate    enddate
0        Lyrids      Lyra          4            northern 2020-04-21 2020-04-22
1  Eta Aquarids  Aquarius          5            southern 2020-04-19 2020-05-28
2      Orionids     Orion         10  northern, southern 2020-10-02 2020-11-07
3      Perseids   Perseus          8            northern 2020-07-14 2020-08-24
4       Leonids       Leo         11  northern, southern 2020-11-06 2020-11-30

In [8]:
meteor_showers.startmonth = meteor_showers.startmonth.map(months) 
meteor_showers.endmonth = meteor_showers.endmonth.map(months)
moon_phases.month = moon_phases.month.map(months)
constellations.bestmonth = constellations.bestmonth.map(months)

In [9]:
meteor_showers['startdate'] = pd.to_datetime(2020*10000+meteor_showers.startmonth*100+meteor_showers.startday, format = '%Y%m%d')

In [10]:
meteor_showers['enddate'] = pd.to_datetime(2020*10000+meteor_showers.endmonth*100+meteor_showers.endday,format='%Y%m%d')

In [11]:
moon_phases['date'] = pd.to_datetime(2020*10000+moon_phases.month*100+moon_phases.day,format='%Y%m%d')

In [12]:
moon_phases.head()

   month  day      moonphase specialevent       date
0      1    1            NaN          NaN 2020-01-01
1      1    2  first quarter          NaN 2020-01-02
2      1    3            NaN          NaN 2020-01-03
3      1    4            NaN          NaN 2020-01-04
4      1    5            NaN          NaN 2020-01-05

In [13]:
hemispheres = {'northern':0, 'southern':1, 'northern, southern':3}

In [14]:
meteor_showers.hemisphere = meteor_showers.hemisphere.map(hemispheres)

In [15]:
constellations.hemisphere = constellations.hemisphere.map(hemispheres)

In [16]:
phases = {'new moon':0,'third quarter':0.5, 'first quarter':0.5, 'full moon' : 1.0}

In [17]:
moon_phases['percentage'] = moon_phases.moonphase.map(phases)
moon_phases.head()

   month  day      moonphase specialevent       date  percentage
0      1    1            NaN          NaN 2020-01-01         NaN
1      1    2  first quarter          NaN 2020-01-02         0.5
2      1    3            NaN          NaN 2020-01-03         NaN
3      1    4            NaN          NaN 2020-01-04         NaN
4      1    5            NaN          NaN 2020-01-05         NaN

In [18]:
moon_phases = moon_phases.drop(['month','day','moonphase','specialevent'], axis=1)

In [19]:
lastPhase = 0

for index, row in moon_phases.iterrows():
    if pd.isnull(row['percentage']):
        moon_phases.at[index,'percentage'] = lastPhase
    else:
        lastPhase = row['percentage']

moon_phases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        366 non-null    datetime64[ns]
 1   percentage  366 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [20]:
meteor_showers = meteor_showers.drop(['startmonth', 'startday','endmonth','endday','hemisphere'],axis=1)

In [21]:
constellations = constellations.drop(['besttime'], axis=1)

In [22]:
meteor_showers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5 non-null      object
 1   radiant              5 non-null      object
 2   bestmonth            5 non-null      int64
 3   preferredhemisphere  5 non-null      object
 4   startdate            5 non-null      datetime64[ns]
 5   enddate              5 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 372.0+ bytes

In [23]:
moon_phases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        366 non-null    datetime64[ns]
 1   percentage  366 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [24]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   city      257 non-null    object
 1   latitude  257 non-null    float64
 2   country   257 non-null    object
dtypes: float64(1), object(2)
memory usage: 6.2+ KB

In [25]:
constellations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   constellation  5 non-null      object
 1   bestmonth      5 non-null      int64
 2   latitudestart  5 non-null      int64
 3   latitudeend    5 non-null      int64
 4   hemisphere     5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 332.0+ bytes

In [26]:
def predict_best_meteor_shower_viewing(city):
    # Create an empty string to return the message back to the user
    meteor_shower_string = ""

    if city not in cities.values:
        meteor_shower_string = "Unfortunately, "+ city + " isn't available for a prediction at this time."
        return meteor_shower_string

    #Get the latitude of the city from the cities dataframe
    latitude = cities.loc[cities['city'] == city, 'latitude'].iloc[0]

    constellation_list = constellations.loc[(constellations['latitudestart'] >= latitude) & (constellations
['latitudeend'] <= latitude), 'constellation'].tolist()
    
    if not constellation_list:
        meteor_shower_string = "Unfortunately, there are no meteor showers viewable from "+ city + "."

        return meteor_shower_string
    
    for constellation in constellation_list:
        meteor_shower = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'name'].iloc[0]

        meteor_shower_startdate = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'startdate'].iloc[0]

        meteor_shower_enddate = meteor_showers.loc[meteor_showers['radiant'] == constellation, 'enddate'].iloc[0]

        moon_phases_list = moon_phases.loc[(moon_phases['date'] >= meteor_shower_startdate) & (moon_phases['date']
    <= meteor_shower_enddate)]
        
        best_moon_date = moon_phases_list.loc[moon_phases_list['percentage'].idxmin()]['date']

        meteor_shower_string += meteor_shower + " is best seenn if you look towards the " + constellation + " constellation on " + best_moon_date.to_pydatetime().strftime("%B %d, %Y") + ".\n"


    return meteor_shower_string

In [27]:
print(predict_best_meteor_shower_viewing("Valdosta"))

Lyrids is best seenn if you look towards the Lyra constellation on April 22, 2020.
Eta Aquarids is best seenn if you look towards the Aquarius constellation on April 22, 2020.
Orionids is best seenn if you look towards the Orion constellation on October 16, 2020.
Perseids is best seenn if you look towards the Perseus constellation on July 20, 2020.

In [33]:
print(predict_best_meteor_shower_viewing("Stanley"))

Eta Aquarids is best seenn if you look towards the Aquarius constellation on April 22, 2020.
Orionids is best seenn if you look towards the Orion constellation on October 16, 2020.